<table class="show">
  <tr>
    <th><%= @item.locale :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale :title %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.locale :more %></th>
    <td><%= @item.more.blank? ? '（自動設定）' : @item.more %></td>
  </tr><tr>
    <th>条件</th>
    <td>
      <table class="noDesign">
        <tr>
          <td>グループ</td>
          <td><% @item.category_items.each do |i| %><%= i.title %> &nbsp;<% end %></td>
        </tr>
      </table>
    </td>
  </tr><tr>
    <th><%= @item.locale :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>
