<%

show_admin = (item && item.content && item.content.setting_value(:recognizers_include_admin) == "visible") ? true : false

users = []
users << Core.user if Core.user.has_auth?(:manager)

Sys::User.find_managers.each do |u|
  users << u
end if show_admin

Core.user_group.users.each do |u|
  next unless u.state == 'enabled'
  next if u.id == Core.user.id
  users << u
end
users = users.uniq
user_ids = users.collect{|u| u.id.to_s}

max     = 5
in_name = "##{f.object_name}_in_recognizer_ids"
e1_name = 'recognizers1'
e2_name = 'recognizers2'
e1_evt  = "moveSelectOptions(this.form, '##{e1_name}', '##{e2_name}', #{max});"
e2_evt  = "moveSelectOptions(this.form, '##{e2_name}', '##{e1_name}');"

e2_list = item.in_recognizer_ids.to_s.split(' ').uniq
e2_list.each{|id| e2_list.delete(id) unless user_ids.index(id)}
item.in_recognizer_ids = e2_list.join(' ')

e1_opt  = []
e2_opt  = []
users.each {|u| e2_list.index(u.id.to_s) ? e2_opt << u : e1_opt << u }
e1_opt  = options_for_select(e1_opt.collect{|u| [u.name_with_account, u.id]})
e2_opt  = options_for_select(e2_opt.collect{|u| [u.name_with_account, u.id]})

style   = "width: 240px; height: 140px;"
e1_tag  = select_tag(e1_name, e1_opt, :multiple => true, :onDblClick => e1_evt, :style => style)
e2_tag  = select_tag(e2_name, e2_opt, :multiple => true, :onDblClick => e2_evt, :style => style)

%><script type="text/javascript">
//<![CDATA[
function moveSelectOptions(form, srcId, dstId, max) {
  if (max) {
    var num = $(srcId + ' option:selected').size() + $(dstId + ' option').size();
    if (num > max) {
      alert("承認者は設定は5人以内で入力してください。");
      return false;
    }
  }
  
  $(srcId + ' option:selected').each(function() {
    var exist = false;
    var srcOpt = $(this);
    $(dstId + ' option').each(function() {
      if ($(this).val() == srcOpt.val()) {
        exist = true;
        return;
      }
    });
    if (!exist) {
      $(dstId).append('<option value="' + srcOpt.val() + '">' + srcOpt.text() + '</option>');
      srcOpt.remove();
    }
  });
  
  var ids = [];
  if (max) {
    $(dstId + ' option').each(function() {
      ids.push($(this).val())
    });
  } else {
    $(srcId + ' option').each(function() {
      ids.push($(this).val())
    });
  }
  $('<%= in_name %>').val(ids.join(' '));
}

//]]>
</script>

<p class="form">承認設定</p>

<%= f.hidden_field :in_recognizer_ids %>
<table class="show">
  <tr>
    <th>承認者 <span class="note">※</span></th>
    <td>
      <table class="noDesign"><tr><td>
      <%= e1_tag %>
      </td><td>
      <input type="button" value="追加 →" onClick="<%= e1_evt %>" /><br /><br />
      <input type="button" value="← 除外" onClick="<%= e2_evt %>" />
      </td><td>
      <div class="<%= 'field_with_errors' if @item.errors['承認者'].size > 0 %>"><%= e2_tag %></div>
      </td></tr></table>
    </td>
  </tr>
</table>
