<%= render :partial => 'menu' %>

<script type="text/javascript">
//<![CDATA[

function pasteText(id) {
  parent.insertText(parent.document.getElementById('item_body'), $(id).val());
  return false;
}

//]]>
</script>

<%= render :file => "cms/admin/data/files/_search" %>

<% if @items.size > 0 %>

<table class="index files" style="margin: 2px 0px;">

  <tr>
    <th style="width: 40px; text-align: center;">詳細</th>
    <th style="width: 90px; text-align: center;">サムネイル</th>
    <th style="width: ;">ファイル名</th>
    <th style="width: 200px; text-align: center;">URL</th>
    <th style="width: 120px; text-align: center;">ファイルサイズ</th>
    <th style="width: 60px; text-align: center;">状態</th>
  </tr>
  
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item, :concept => item.concept_id) %></td>
    <td style="text-align: center;">
      <% if item.image_file? %>
        <a href="<%= url_for(:id => item, :action => :download, :concept => item.concept_id, :_t => item.updated_at.to_i) %>" target="_blank">
        <img src="<%= url_for(:id => item, :action => :thumbnail, :concept => item.concept_id, :_t => item.updated_at.to_i) %>" 
        style="<%= item.reduce_size(:width => 80, :height => 40, :thumbnail => true, :css => true) %>" /></a>
      <% else %>
        <a href="<%= url_for(:id => item, :action => :download, :concept => item.concept_id) %>" class="<%= item.css_class %>" target="_blank">File</a>
      <% end %>
    </td>
    <td>
      <%= "#{safe{item.node.name}} / " if item.node %><%= item.name %><br /><%= "（#{item.title}）" if item.name != item.title %>
      <div class="pasteLinks">
        <input type="hidden" id="srcCode<%= item.id %>" value="<%= %Q([[file/#{safe{item.node.name + '/'}}#{item.name}]]) %>" />
        <a href="#" onclick="return pasteText('#srcCode<%= item.id %>');">埋め込みコード貼付</a>
        
        <% if item.image_file? %>
        <input type="hidden" id="srcImage<%= item.id %>" value="<%= %Q(<img src="#{item.public_uri}" alt="#{item.alt}" title="#{item.alt}" />) %>" />
        | <a href="#" onclick="return pasteText('#srcImage<%= item.id %>');">画像貼付 (<%= "#{item.image_width}x#{item.image_height}" %>)</a>
        
        <% if item.has_thumbnail? %>
        <input type="hidden" id="srcThumb<%= item.id %>" value="<%= %Q(<img src="#{item.public_thumbnail_uri}" alt="" title="" />) %>" />
        | <a href="#" onclick="return pasteText('#srcThumb<%= item.id %>');">画像貼付 (<%= "#{item.thumb_width}x#{item.thumb_height}" %>)</a>
        <% end %>
        <% end %>
        </div>
    </td>
    <td style="text-align: center;">
      <% eid = "file_uri#{item.id}" %>
      <% onclick = "document.getElementById('#{eid}').focus(); document.getElementById('#{eid}').select();" %>
      <%= text_field_tag "#{eid}", safe{item.public_uri}, :style => "width: 180px;", :onclick => onclick, :readonly => true %>
    </td>
    <td style="text-align: center;"><%= item.eng_unit %></td>
    
    <% if item.public? %>
    <td style="text-align: center;"><%= link_to item.status.name, item.public_full_uri, :target => '_blank' %></td>
    <% else %>
    <td style="text-align: center;"><%= item.status.name %></td>
    <% end %>
  </tr>
  <% end %>

</table>

<% end %>

<%= paginate @items %>
