<%

tree = @parent.parents_tree
tree << @item if @item && @item.id && @item.id != @parent.id
tree = tree.collect{|c| link_to(c.name, sys_groups_path(c)) }

%><h2>グループ</h2>

<div class="navi">
  <%== tree.join('<span class="separator">&gt;</span>') %>
</div>

<div class="actionMenu">
<%= action_menu :new, ['新規グループ', new_sys_group_path] %>
<%= action_menu :new, ['新規ユーザ', new_sys_group_user_path] %>
<%= action_menu :index %>
<%#= link_to "グループ一覧", sys_groups_path if @item %>
<%#= link_to "ユーザ一覧", sys_groups_path(:parent => @item.id) if @item %>
<%= action_menu :show %>
<%= action_menu :edit    if safe{@item.editable?} %>
<%= action_menu :destroy if safe{@item.deletable?} %>
</div>
<%- if params[:action] == 'show' -%>
<%== '<span>グループ・下位グループに管理者が所属している場合は削除できません</span>' unless safe{@item.deletable?} %>
<%- end -%>