<%

root = "#{@root.gsub(@base_uri[0], "")}"
navi = [ link_to(root, "#{cms_stylesheets_path}") ]
prev = []

@path.split("/").each do |p|
  prev << p
  navi << link_to(p, "#{cms_stylesheets_path}/#{prev.join('/')}")
end

path    = (::File.dirname(@path) == '.') ? nil : ::File.dirname(@path)
parent  = path ? "#{cms_stylesheets_path}/#{path}" : cms_stylesheets_path
current = @path ? "#{cms_stylesheets_path}/#{@path}" : cms_stylesheets_path

%><h2>スタイルシート</h2>

<div class="navi">
  <%== navi.join('<span class="separator">&gt;</span>') %>
</div>

<div class="actionMenu">
<%= link_to "上へ", parent if @path != "" && !params[:do] && @item.directory? %>
<%= link_to :index, parent if params[:do] %>
<% if params[:do] == "show" %>
  <%= link_to :edit, current + "?do=edit" if @item.editable? %>
  <%= link_to "移動", current + "?do=move" if @item.editable? %>
  <%= link_to "削除", current + "?do=destroy", data: { confirm: "削除してよろしいですか？" } if @item.deletable? %>
<% elsif params[:do] %>
  <%= link_to :show, current + "?do=show" %>
<% elsif !params[:do] && @item.directory? && @item.creatable? %>
  <a href="#" id="newDir">新規ディレクトリ</a>
  <a href="#" id="newFile">新規ファイル</a>
  <a href="#" id="newUpload">アップロード</a>
<% end %>
</div>
