<%= form_for :item, :url => "?do=rename", :html => {:method => :put} do |f| %>
  
<%= error_messages_for :item %>

<p class="form">名称変更</p>

<table class="show">
  <%= concept_form(f) if @item.directory? %>
  <tr>
    <th><%= @item.locale :name %></th>
    <td><%= f.text_field :name, :class => "nameEn" %></td>
  </tr>
</table>

<%= submit :edit %>

<% end %>
