<div class="calendarEvents calendarMonthlyEvents">

<div class="h2"><%= sprintf("%d年%d月", @year, @month) %></div>

<% @calendar.days.each do |day| %><% next if day[:class] =~ /(next|prev)/ %>
  <div class="date <%= day[:class] %>" id="day<%= sprintf('%02d', day[:day]) %>">
    <a id="day<%= day[:day] %>" name="day<%= day[:day] %>"><%= day[:day] %>日</a>（<%= day[:wday_label] %>）
  </div>
  <% if day[:holiday] %><div class="holiday">・<%= day[:holiday] %></div><% end %>
  <% @items[day[:date]].each do |item| %>
  <div class="event">
      <% if item.is_a?(Article::Doc) %>・<%= link_to h(item.title), item.public_uri %>
      <% else %>・<%= item.event_uri.blank? ? hbr(item.title) : link_to(hbr(item.title), item.event_uri) %><% end %>
  </div>
  <% end %>
<% end %>

<% if @pagination.prev_uri || @pagination.next_uri %>
<div class="pagination">
  <%= link_to("<<*前の月", @pagination.prev_uri, :accesskey => '*') if @pagination.prev_uri %>
  <span class="separator">|</span>
  <%= link_to("次の月#>>", @pagination.next_uri, :accesskey => '#') if @pagination.next_uri %>
</div>
<% end %>

<!-- end .calendarEvents --></div>
