<%

chFile = "$('#item_name').val( $('#item_file').val().replace(/\\\\/g, '/').replace(/.*\\//, '') );"
chFile += "$('#item_title').val( $('#item_file').val().replace(/\\\\/g, '/').replace(/.*\\//, '') );"
chFile += "if ($('#item_name').val().match(/[^0-9a-z\\.\\-_\\+@]/i)) alert('保存ファイル名を半角英数字で入力してください。');"

%><p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, @item.states, :class => 'status' %></td>
  </tr>
  <%= concept_form f %>
  <tr>
    <th><%= @item.locale(:node_id) %></th>
    <td><%= f.select(:node_id, Cms::DataFileNode.find(:all, 
        :conditions => {:concept_id => Core.concept(:id)}, :order => :name).collect{|i| [i.label, i.id]},
        :include_blank => '　') %></td>
  </tr><tr>
    <th><%= @item.locale(:file) %></th>
    <td><%= f.file_field :file, :size => 64, :style => 'width: 450px;', :onchange => chFile %></td>
  </tr><tr>
    <th>画像リサイズ</th>
    <td><%= f.select :in_resize_size, Sys::Model::Base::File.sizes(:include_blank => "　"), :class => 'number'  %></td>
  </tr><tr>
    <th style=""><%=@item.locale(:name) %><div class="note">※半角英数字のみ</div></th>
    <td><%= f.text_field :name, :class => 'nameEn' %></td>
  </tr><tr>
    <th style=""><%=@item.locale(:title) %><div class="note">※日本語でわかりやすく</div></th>
    <td><%= f.text_field :title, :class => 'name' %></td>
  </tr>
  
</table>
