<%= render :partial => 'search' %>

<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 60px; text-align: right;"><%= Bbs::Item.new.locale(:id) %></th>
    <th style="width: ;"><%= Bbs::Item.new.locale(:title) %></th>
    <th style="width: 30%;"><%= Bbs::Item.new.locale(:name) %></th>
    <th style="width: 120px; text-align: center;"><%= Bbs::Item.new.locale(:created_at) %></th>
    <th style="width: 60px; text-align: center;">状態</th>
  </tr>
  
  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td><%= truncate(item.title, :length => 30) %></td>
    <td><%= truncate(item.name, :length => 20) %></td>
    <td style="text-align: center;"><%= item.created_at.strftime('%Y-%m-%d %H:%M')%></td>
    <td style="text-align: center;"><%= item.status.name %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
