<%= init_tiny_mce %>
<%= use_text_range_js %>

<p class="form">基本情報</p>

<table class="show">
  <%= node_base_form f, :container => :tr %>
</table>

<table class="show" style="margin: 0px;">
  <tr>
    <th><%= @item.locale(:body) %></th></tr><tr>
    <td><%= f.text_area :body, :class => 'body mceEditor', :style => 'width: 100%' %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>ファイル</th>
    <td>
      <a href="#" onclick="return $(this).toggleOpen('#inlineFiles');">閉じる▲</a>
    </td>
  </tr>
</table>

<div class="inlineForm" id="inlineFiles">
  <iframe src="<%= cms_inline_data_files_path(:parent => 0) %>" style="width: 100%; height: 340px;" frameborder="0"></iframe>
</div>

<p class="form">携帯向け</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:mobile_title) %></th>
    <td><%= f.text_field :mobile_title, :class => 'title' %></td>
  </tr><tr>
    <th><%= @item.locale(:mobile_body) %></th>
    <td><%= f.text_area :mobile_body, :style => 'width: 600px; height: 240px;' %></td>
  </tr>
</table>

<%= inquiry_form f %>
<%= task_form f %>
<%= recognizer_form f %>
<%= creator_form f %>
