<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 60px; text-align: right;">ID</th>
    <th style="width: 120px; text-align: center;">公開日時</th>
    <th style="width: ;">タイトル</th>
    <th style="width: 60px; text-align: center;">状態</th>
  </tr>
  
  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td style="text-align: center;"><%= item.published_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= item.title %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
