<%= init_tiny_mce :readonly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:published_at) %></th>
    <td><%= @item.published_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th colspan="2"><%= @item.locale(:body) %></th>
  </tr><tr>
    <td colspan="2"><%= text_area_tag 'body', @item.body, :class => 'mceEditor', :style => 'width:100%' %></td>
  </tr>
</table>
