<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, [["有効","enabled"],["無効","disabled"]], :class => 'states' %></td>
  </tr><tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= f.text_field :email, :class => 'email' %></td>
  </tr><tr>
    <th><%= @item.locale(:agent_state) %></th>
    <td><%= f.radio_buttons :agent_state, @item.agent_states, :class => 'states' %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= f.text_area :name, :class => 'body', :style => "height: 100px;" %></td>
  </tr>
</table>

<%= creator_form f %>