<%= form_tag '', :method => :get, :class => 'search' do %>

<table>
  <tr>
    <th>記事番号</th>
    <td ><%= text_field_tag 's_id', params[:s_id], :style => 'width: 80px;' %></td>
    <th>タイトル</th>
    <td ><%= text_field_tag 's_title', params[:s_title], :style => 'width: 350px;' %></td>

    <td class="submitters">
      <%= submit_tag '検索',     :name => :search %>
      <%= submit_tag 'リセット', :name => :reset %>
    </td>
  </tr>

</table>

<!-- end .search --><% end %>
