<%= render :partial => 'search' %>

<table class="index">

  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 60px; text-align: right;">記事番号</th>
    <th style="width: ;"><%= Portal::FeedEntry.new.locale(:title) %></th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 60px; text-align: center;">状態</th>
    <th style="width: 60px; text-align: center;">表示</th>
  </tr>

  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td><%= item.title %></td>
    <td style="text-align: center;"><%= safe{item.entry_updated.strftime("%Y-%m-%d %H:%M")} %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
    <td style="text-align: center;"><%= link_to '表示', item.link_alternate, :target => '_blank' if item.link_alternate %></td>
  <% end %>

</table>

<%= paginate @items %>
