<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:id) %></th>
    <td><%= @item.id %></td>
  </tr>
  <% if uri = @item.link_alternate %>
  <tr>
    <th><%= @item.locale(:link_alternate) %></th>
    <td><div><%= link_to(uri, uri, :target => '_blank') %></div></td>
  </tr>
  <% end %>
  <tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th>フィード分類</th>
    <td><%=hbr @item.categories %></td>
  </tr><tr>
    <th>概要</th>
    <td><%=hbr @item.summary %>
    </td>
  </tr>
</table>
