<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:concept_id) %></th>
    <td><%= safe{@item.concept.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr>
</table>

<%= creator_view @item %>
