<%= init_tiny_mce :readonly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:summary) %></th>
    <td><%= text_area_tag 'viewSummary', @item.summary, :class => 'mceEditor', :style => 'height: 200px;' %></td>
  </tr><tr>
    <th><%= @item.locale(:body) %></th>
    <td><%= text_area_tag 'viewBody', @item.body, :class => 'mceEditor', :style => 'height: 200px;' %></td>
  </tr><tr>
    <th><%= @item.locale(:sent_body) %></th>
    <td><%= text_area_tag 'viewSentBody', @item.sent_body, :class => 'mceEditor', :style => 'height: 200px;' %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
