<div class="contentArticleArea">

<% @items.each do |item| %>
<table>
<tr class="ward">
  <th class="name" id="<%= item.name %>" scope="col"><%= item.title %></th>
  <th class="page" scope="col"><%=link_to '地域ページへ', "#{item.name}/" %></th>
  <th class="zipCode" scope="col">郵便番号</th>
  <th class="address" scope="col">所在地</th>
  <th class="tel" scope="col">電話番号</th>
  <th class="formal" scope="col">市町村公式ページ</th>
</tr>

<% if (children = item.public_children).size > 0 %>
<% children.each do |c| %>
<tr class="city <%= cycle '', 'cycle', :name => :cycle %>">
  <th class="name" scope="row"><%= c.title  %></th>
  <td class="page"><%=link_to h('地域ページへ'), "#{c.name}/"  %></td>
  <td class="zipCode"><%= c.zip_code %></td>
  <td class="address"><%= c.address %></td>
  <td class="tel"><%= c.tel %></td>
  <td class="formal"><%= link_to('公式ページへ', c.site_uri) if !c.site_uri.blank? %></td>
</tr>
<% end %>
</table>
<% reset_cycle(:cycle) %><% end %>
<div class="pageTop"><a href="#container">ページの先頭へ戻る</a></div>

<% end %>

</div>
