<table class="show">
  <tr>
    <th><%= @item.locale(:concept_id) %></th>
    <td><%= safe{@item.concept.name} %> </td>
  </tr><tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %> </td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr>
</table>

<table class="show" style="margin: 0px;">
  <tr>
    <th><%= @item.locale(:body) %></th></tr><tr>
    <td><%=hbr @item.body %></td>
  </tr>
</table>

<%= creator_view @item %>
