<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<%= csrf_meta_tags %>
<title><%= Core.title %></title>
<%= stylesheet_link_tag "/_common/themes/admin/style", :media => "all" %>
<%= javascript_include_tag "/_common/js/jquery.min.js" %>
<%= javascript_include_tag "/_common/js/jquery.ujs.js" %>
</head>
<body>
<div id="simpleContainer">

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<%= yield  %>

</div>
</body>
</html>
