<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<%= csrf_meta_tags %>
<title><%= Core.title %></title>
<%= stylesheet_link_tag "/_common/themes/admin/style", :media => "all" %>
<%= javascript_include_tag "/_common/js/jquery.min.js" %>
<%= javascript_include_tag "/_common/js/jquery.ujs.js" %>
</head>
<body>
<div id="simpleContainer">

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<%= yield  %>

</div>
</body>
</html>
