<p class="form">グループ</p>

<%= form_for(:item, :url => {:action => :import}, :html => {:method => :post, :multipart => true}) do |f| %>
<%= hidden_field_tag :do, 'groups' %>
CSVファイル : <%= f.file_field :file, :size => 64 %><br /><br />
<%= f.submit 'インポート', :style => 'width: 120px;' %><br />
<% end %>

<p class="form">ユーザ</p>

<%= form_for(:item, :url => {:action => :import}, :html => {:method => :post, :multipart => true}) do |f| %>
<%= hidden_field_tag :do, 'users' %>
CSVファイル : <%= f.file_field :file, :size => 64 %><br /><br />
<%= f.submit 'インポート', :style => 'width: 120px;' %><br />
<% end %>