<%

chFile = "$('#item_name').val( $('#item_file').val().replace(/\\\\/g, '/').replace(/.*\\//, '') );"
chFile += "$('#item_title').val( $('#item_file').val().replace(/\\\\/g, '/').replace(/.*\\//, '') );"
chFile += "if ($('#item_name').val().match(/[^0-9a-z\\.\\-_\\+@]/i)) alert('保存ファイル名を半角英数字で入力してください。');"

%><table class="show" style="margin-top:0px;">
  
  <% unless @item.id %>
  <tr>
    <th style="width: 160px;"><%= @item.locale(:file) %></th>
    <td><%= f.file_field :file, :style => 'width: 450px;', :size => 64, :onchange => chFile %></td>
  </tr><tr>
    <th>画像リサイズ</th>
    <td><%= f.select :in_resize_size, Sys::Model::Base::File.sizes(:include_blank => "　"), :class => 'number'  %></td>
  <!--
  </tr><tr>
    <th>サムネイルサイズ</th>
    <td><%= f.text_field :in_thumbnail_size, :class => 'number'  %> （例　120x90 ）</td>
  </tr>
  -->
  <% end %>
  <tr>
    <th style=""><%= @item.locale(:name) %><div class="note">※半角英数字のみ</div></th>
    <td><%= f.text_field :name, :class => 'string name', :style => 'width: 400px;' %></td>
  </tr><tr>
    <th style=""><%= @item.locale(:title) %><div class="note">※日本語でわかりやすく</div></th>
    <td><%= f.text_field :title, :class => 'string name', :style => 'width: 400px;' %>
      <span class="submitters" style="text-align: right; padding:5px;"><%= f.submit(submit_label) %></span>
    </td>
  </tr>

</table>

