<%= form_for :item, :url => {:action => :update_password}, :html => {:method => :put, :autocomplete => "off"} do |f| %>
  
<%= error_messages_for :item %>

<p class="form">パスワードの変更</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:current_password) %></th>
    <td><%= f.password_field :current_password %></td>
  </tr><tr>
    <th><%= @item.locale(:new_password) %></th>
    <td><%= f.password_field :new_password %></td>
  </tr><tr>
    <th><%= @item.locale(:confirm_password) %></th>
    <td><%= f.password_field :confirm_password %></td>
  </tr>
</table>

<%= submit :edit %>

<% end %>
