<h2><%= @content.name %> : 分野設定</h2>

<div class="navi">
<%= link_to '分野', url_for(:action => :index, :parent => 0) %>
<% tree = @parent.parents_tree; tree.each_with_index do |c, k| %>
<span class="separator">&gt;</span><%=link_to c.title, url_for(:action => :index, :parent => c ) %>
<% end %>
</div>

<div class="actionMenu">
<%= action_menu :new     if @content.creatable? %>
<%= action_menu :index %>
<%= action_menu :show %>
<%= action_menu :edit    if safe{@content.editable?} %>
<%= action_menu :destroy if safe{@content.deletable?} %>
</div>
