<div class="contentArticleEventDocs">

<h2><%= "#{@calendar.year}年#{@calendar.month}月" %></h2>

<% if @items.size > 0 %>
<table class="calendar">
  <% @items.each do |item| %><tr>
    <td class="<%= item[:date_class] %>" id="<%= item[:date_id] %>"><%= item[:date] %></td>
    <td class="<%= item[:attr_class] %>"><span class="attribute"><%= item[:attr_title] %></span></td>
    <td class="title"><%= link_to h(item[:doc].title), item[:doc].public_uri %></td>
  </tr><% end %>
</table>
<% end %>

<div class="pagination">
  <%= link_to("<前の月", @calendar.prev_month_uri, :class => "prevMonth") if @prev_link %>
  <span class="separator">|</span>
  <%= link_to("次の月>", @calendar.next_month_uri, :class => "nextMonth") if @next_link %>
</div>

</div>
