<%= render :partial => 'search' %>

<table class="index">
  <tr>
    <th style="width: 60px; padding: 0px; text-align: center;">詳細</th>
    <th style="width: 200px;"><%= @item.locale(:user_name) %></th>
    <th style="width: 200px;"><%= @item.locale(:action) %></th>
    <th style="width: ;"><%= @item.locale(:item) %></th>
    <th style="width: 120px; text-align: center;"><%= @item.locale(:ipaddr) %></th>
    <th style="width: 120px; text-align: center;"><%= @item.locale(:created_at) %></th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, sys_operation_log_path(:id => item.id) %></td>
    <td><%= item.user_name %></td>
    <td><%= item.action %></td>
    <td><%= item.item_model %><%= " (#{truncate(item.item_name, :length => 20)})" if item.item_name %></td>
    <td style="text-align: center;"><%= item.ipaddr %></td>
    <td style="text-align: center;"><%= safe{item.created_at.strftime('%Y-%m-%d %H:%M')} %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>

