<%= javascript_tag do %>

// EnterキーによるSubmitを無効化
function stopSubmitting(event) {
  if (!event) var event = window.event;
  var key = (event.keyCode != 0 && event.keyCode != 229) ? event.keyCode : event.charCode;
  if (key == 13) {
    event.returnValue = false;
    return false;
  }
}

$(function(){
  // stop the enter key
  $('#main input').each(function(){
    if ($(this).attr('type').match(/^(text|password|radio|checkbox|url|email|tel)$/)) {
      $(this).keypress(function (event) { return stopSubmitting(event); });
    }
  });
});

// イベントカレンダー
$(function() {
  $('#item_event_date').change(function() {
    if ($(this).val() != "") {
      $('#item_event_state_visible').attr('checked', true);
    } else {
      $('#item_event_state_hidden').attr('checked', true);
    }
  });
});

// Link Check
function checkLinks() {
  var f = $('#itemForm');
  var m = document.createElement('input');
  m.setAttribute('type', 'hidden');
  m.setAttribute('name', 'link_check');
  m.setAttribute('value', '1');
  f.append(m);
  f.submit();
  return false;
}


$(function() {
  $('#rel_group_id').on('change', function (event) {
    var group_id = parseInt(event.target.value);
    if (isNaN(group_id)) {
      $('#rel_user_id').html('<option value=""></option>');
    } else {
      $('#rel_user_id').html('<option value="">更新中...</option>');
      $.get('<%= article_docs_path(content: @content) %>', { user_options: true, group_id: group_id }, function (data) {
        $('#rel_user_id').html('<option value=""></option>' + data);
      });
    }
  });
  $('#search_rel_doc').on('click', function () {
    searchRelatedDocs();
  });
});

  function searchRelatedDocs(){
    var id = $('#rel_id').val();
    var title = $('#rel_title').val();
    var group_id = $('#rel_group_id').val();
    var user_id = $('#rel_user_id').val();
    var doc_select = $('#rel_doc');
    doc_select.html('<option value="">更新中...</option>');
    $.get('<%= article_docs_path(content: @content) %>', {
          options: true,
          exclude: '<%= @item.name %>',
          id: id,
          title: title,
          group_id: group_id,
          user_id: user_id }, function (data) {
      doc_select.html(data);
    });
  }

$(function() {
  $('#add_rel_doc').on('click', function () {
    var rel_doc = $('#rel_doc');
    if (rel_doc.val() === '') {
      alert('記事を選択してください。');
      return;
    }

    $.get('<%= article_related_doc_path(content: @content, id: '_ID_') %>.json'.replace(/_ID_/, rel_doc.val()), function (data) {
      var next_index = $('#rel_docs').find('tr').length;
      var template = $('#rel_docs_template').find('tbody').clone(true);

      template.find('input').removeAttr('disabled');
      template.find('.rel_doc_name').val(data.name);
      template.find('.rel_doc_id').val(data.id);
      template.find('.rel_doc_serial_id').html("[" + data.id + "]");
      template.find('.rel_doc_link').html(data.link);
      template.find('.rel_doc_user_name').text(data.user_name);
      template.find('.rel_doc_group_name').text(data.group_name);
      template.find('.rel_doc_updated_at').text(data.updated_at);
      template.find('.rel_doc_status').text(data.status);

      $('#rel_docs').append( template.html() );
      if (next_index >= 2) {
        $('#add_rel_doc').attr( 'disabled', 'disabled' );
      }

      rel_doc.val([]);
    });

  });

  $('#rel_docs').on("click", "a.remove_related_doc", function (e) {
    var wrapper = $(this).parent().parent();
    wrapper.remove();
    var doc_index = $('#rel_docs').find('tr').length;
    if (doc_index < 3) {
      $('#add_rel_doc').removeAttr('disabled');
    }

    return false;
  });
});
<% end %>

<% inline_id = @item.unid || params[:_tmp] %>
<%= init_editor :document_base_url => article_preview_doc_file_path(:parent => inline_id, :path => '') + '/' %>

<span class="note">※は必須項目です。</span>

<table class="show">
  <% if @item.id %>
  <tr>
    <th>記事番号</th>
    <td colspan="3"><%=@item.id %></td>
  </tr>
  <% end %>
  <tr>
    <th>タイトル <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'title', :style => 'width: 500px;' %></td>
    <th style="width: 60px;">言語 <span class="note">※</span></th>
    <td style="width: 150px;"><%= f.select(:language_id, Sys::Language.all.collect{|i| [i.title + "　", i.id]}) %></td>
  </tr>
  <tr>
    <th colspan="4">内容</th></tr><tr>
    <td colspan="4" class="<%=editor_wrapper_class%>">
      <%= f.text_area :body, :class => "body #{editor_class}" %>
      <div class="lowerMenu">
        <a href="#" onclick="checkLinks(); return false;">リンクチェック</a>
      </div>
    </td>
  </tr>
</table>

<%= render :partial => 'article/admin/_partial/doc_files/form', :locals => {:f => f, :item => @item } %>

<table class="show">
  <tr>
    <th>分野</th>
    <td><%= article_category_form f %></td>
  </tr><tr>
    <th>属性</th>
    <td><%= article_attribute_form f %></td>
  </tr>
</table>

<%= article_area_form f %>

<table class="show">
  <tr>
    <th>新着記事表示</th>
    <td><%= f.radio_buttons :recent_state, @item.recent_states, :class => 'status' %></td>
  </tr><tr>
    <th>記事一覧表示</th>
    <td><%= f.radio_buttons :list_state, @item.list_states, :class => 'status' %></td>
  </tr><tr>
    <th>イベントカレンダー表示</th>
    <td><div class="fieldDatetime">
      <%= f.radio_buttons :event_state, @item.event_states, :class => 'status' %>
      &nbsp; イベント日付 ：
      <%= f.text_field :event_date, :class => 'date' %>
      ～ <%= f.text_field :event_close_date, :class => 'date' %>
      </div>
    </td>
  </tr><tr>
    <th><%= @item.locale(:sns_link_state) %></th>
    <td><%= f.radio_buttons :sns_link_state, @item.sns_link_states, :class => 'status' %></td>
  </tr>
</table>

<%= article_tag_form f %>

<%= article_rel_doc_form f %>

<table class="show">
  <tr>
    <th><%= @item.locale(:agent_state) %></th>
    <td><%= f.radio_buttons :agent_state, @item.agent_states, :class => 'status' %></td>
  </tr>
</table>

<p class="form">携帯向け</p>

<div style="margin: 10px;"><a id="map_disp" href="#" onclick="return $(this).toggleOpen('#mobileForm');">開く▼</a></div>
<table class="show" id="mobileForm" style="display: none;">
  <tr>
    <th><%= @item.locale(:mobile_body) %></th>
    <td><%= f.text_area :mobile_body, :style => 'width: 600px; height: 240px;' %></td>
  </tr>
</table>

<%= google_map_form f if @content.setting_value(:use_map) != 'disabled' %>
<%= inquiry_form f %>
<%= task_form f %>
<%= recognizer_form f %>
<%= editable_group_form f %>
<%= creator_form f %>

<%= javascript_tag do -%>
$(document).ready(function () {
  searchRelatedDocs();
  var next_index = $('#rel_docs').find('tr').length;
  if (next_index >= 3) {
    $('#add_rel_doc').attr( 'disabled', 'disabled' );
  }
});
<%- end -%>