<script type="text/javascript" src="/_common/modules/article/js/doc_tabs.js"></script>
<script type="text/javascript">
//<![CDATA[
var feedTabs<%= Page.current_piece.id %> = new ArticleDocTabs('<%= Page.current_piece.css_id %>');
//]]>
</script>

<div class="tabs">
  <% @tabs.each do |tab| %>
  <span><a href="javascript: tab/<%= tab[:name] %>" onkeypress="" class="<%= tab[:class] %>"
    onclick="return feedTabs<%= Page.current_piece.id %>.show('<%= tab[:name] %>')"><%= tab[:title] %></a></span><% end %>
</div>

<div class="wrapper">

  <div class="content">
    <% @tabs.each do |tab| %>
    <% if tab[:docs].size > 0 %>
    <ul class="<%= tab[:name] %>" <%== 'style="display: none;"' unless tab[:current] %>>
      <% tab[:docs].each do |doc| %>
      <li class="<%= doc_attr_css_class(doc) %>"><%= link_to h(doc.title), doc.public_uri, :target => doc.link_target %><% if doc.new_mark %><span class="new">New</span><% end %><%= doc.date_and_site %></li>
      <% end %>
    </ul>
    <% end %>
    <% end %>
  </div>

  <div class="links">
    <% @tabs.each do |tab| %>
    <div class="<%= tab[:name] %>" <%== 'style="display: none;"' unless tab[:current] %>>
      <% if tab[:more] %>
      <div class="feed">
        <a href="<%= ::File.join(tab[:more], 'index.rss') %>" class="rss">RSS</a>
        <a href="<%= ::File.join(tab[:more], 'index.atom') %>" class="atom">Atom</a></div>
      <div class="more">
        <a href="<%= tab[:more] %>"><%= @more_label %></a></div>
      <% end %>
    </div><% end %>
  </div>

<!-- end .wrapper --></div>
