<%= init_tiny_mce :readonly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:body) %></th>
    <td><%= text_area_tag 'viewBody', @item.body, :class => 'mceEditor', :style => 'height: 100px;' %></td>
  </tr><tr>
    <th><%= @item.locale(:column_type) %></th>
    <td><%= safe{@item.column_spec[:label]} %></td>
  </tr><tr>
    <th><%= @item.locale(:options) %></th>
    <td><%=hbr @item.options %></td>
  </tr><tr>
    <th><%= @item.locale(:required) %></th>
    <td><%= @item.required == 1 ? "必須" : "任意" %></td>
  </tr><tr>
    <th><%= @item.locale(:column_style) %></th>
    <td><%= @item.column_style %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
