<%= init_editor :readonly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:body) %></th>
    <td><%= text_area_tag 'viewBody', @item.body, :class => editor_class, :style => 'height: 100px;' %></td>
  </tr><tr>
    <th><%= @item.locale(:column_type) %></th>
    <td><%= safe{@item.column_spec[:label]} %></td>
  </tr><tr>
    <th><%= @item.locale(:options) %></th>
    <td><%=hbr @item.options %></td>
  </tr><tr>
    <th><%= @item.locale :form_file_max_size %><br />（種別が添付の時に使用）</th>
    <td><%= "#{@item.form_file_max_size} MB" if @item.form_file_max_size %></td>
  </tr><tr>
    <th><%= @item.locale :form_file_extension %><br />（種別が添付の時に使用）</th>
    <td><%= @item.form_file_extension %></td>
  </tr><tr>
    <th><%= @item.locale(:required) %></th>
    <td><%= @item.required == 1 ? "必須" : "任意" %></td>
  </tr><tr>
    <th><%= @item.locale(:field_format) %></th>
    <td><%= @item.field_format == 'email' ? "メールアドレス" : "" %></td>
  </tr><tr>
    <th><%= @item.locale(:column_style) %></th>
    <td><%= @item.column_style %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
