<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, @item.states, :class => 'states' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= f.text_field :title, :class => 'name autoWrap mailBodyText', :style => 'width: 500px;' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:body) %></th>
    <td><%= f.text_area :body, :style => "width: 98%; height: 400px;", :class => 'autoWrap mailBodyText' %></td>
  </tr>
</table>

<p class="form">携帯向け</p>

<table class="show" id="mobileForm">
  <tr>
    <th><%= @item.locale(:mobile_title) %></th>
    <td><%= f.text_field :mobile_title, :style => 'width: 500px;', :class => 'autoWrap mailBodyText' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:mobile_body) %></th>
    <td><%= f.text_area :mobile_body, :style => 'width: 98%; height: 400px;', :class => 'autoWrap mailBodyText' %></td>
  </tr>
</table>

<%= creator_form f %>
