<p class="form">キーワード検索</p>
<div style="margin-bottom: 2px;">ページ本文、記事本文から文字列を検索します。</div>

<%= form_for :item, :html => {:method => :post} do |f| %>
<%= hidden_field_tag :do, 'search' %>
<%= f.text_field :keyword, :style => "width: 400px;" %>
<%= submit_tag '検索'    , :name => :search %>
<%= submit_tag 'リセット', :name => :reset %>
<% end %>

<% if @items.size > 0 %>
  <p class="form">検索結果</p>
<% end %>

<% @items.each do |group| %>
<p style="margin: 10px 0px; padding: 2px 5px; border-left: 4px solid #bbb;"><%= group[0] %></p>
<table class="index">
  <tr>
    <th style="width: 70px; text-align: right;">ID</th>
    <th>タイトル</th>
  </tr>
  <% group[1].each do |c| %>
  <tr class="<%= cycle '', 'cycle', :name => group[0] %>">
    <td style="text-align: right;"><%= c[0] %></td>
    <td><%= c[1] %></td>
  </tr>
  <% end %>
  <% if group[1].size == 0 %><tr><td style="text-align: right;">-</td><td>見つかりませんでした。</td></tr><% end %>
</table>
<% end %>

