<%= f.hidden_field :state, :value => "new" %>

<p class="form">新設情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:parent_id) %></th>
    <td>
      <%= f.select_with_tree :parent_id, Sys::Group.find(:all, :conditions => {:level_no => 1}, :order => :sort_no),
        :include_blank => "// 現在の部局から選択" %>
      <% opts = @item.class.find(:all, :conditions => {:content_id => @content.id, :state => "new"}, :order => :sort_no) %>
      または <%= f.select :new_parent_id, opts.collect{|c| [c.name, c.id]}, :include_blank => "// 新設される部局から選択" %>
    </td>
  </tr><tr>
    <th><%= @item.locale(:code) %></th>
    <td><%= f.text_field :code, :class => 'id' %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= f.text_field :name, :class => 'name' %></td>
  </tr><tr>
    <th><%= @item.locale(:name_en) %></th>
    <td><%= f.text_field :name_en, :class => 'nameEn' %></td>
  </tr><tr>
    <th><%= @item.locale(:ldap) %></th>
    <td><%= f.radio_buttons :ldap, @item.ldap_states, :class => 'status' %></td>
  </tr><tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr><tr>
    <th><%= @item.locale(:web_state) %></th>
    <td><%= f.radio_buttons :web_state, @item.web_states, :class => 'status' %></td>
  </tr>
  <%= layout_form f, :container => :tr %>
  <tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= f.text_field :email, :class => 'email' %></td>
  </tr><tr>
    <th><%= @item.locale(:tel) %></th>
    <td><%= f.text_field :tel, :class => 'number' %></td>
  </tr><tr>
    <th><%= @item.locale(:outline_uri) %></th>
    <td><%= f.text_field :outline_uri, :class => 'url' %></td>
  </tr>
</table>
