<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title><%= Page.window_title %></title>
<%= Page.layout.head_tag(request) %></head>
<body id="<%= Page.body_id %>" class="<%= Page.body_class %>">

<%= yield %>

</body>
</html>
