<p class="form">プレビュー</p>

<table class="index">
  
  <tr>
    <th style="width: 25%; text-align: center;">コンセプト</th>
    <th style="width: 25%; text-align: center;">レイアウトID</th>
    <th style="width: ; text-align: center;">レイアウト名</th>
  </th>
  
  <% Cms::Layout.find_contains_piece_name(@item.name).each do |layout| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= safe{h(layout.concept.name)} %></td>
    <td><%= layout.name %></td>
    <td><% query = "layout_id=#{layout.id}&piece_id=#{@item.id}" %>
      <%= link_to h(layout.title), "#{Core.site.root_node.preview_uri}*.html?#{query}", :target => "_blank" %>
      （<%= link_to "携帯", "#{Core.site.root_node.preview_uri(:mobile => true)}*.html?#{query}", :target => "_blank" %>）</td>
  </tr>
  <% end %>
  
</table>

<p class="form">基本情報</p>

<table class="show">
  <%= piece_base_view @item, :container => :tr %>
</table>
