<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th>ファイル名</th>
    <td><%= @item[:name] %> （<%= link_to "ダウンロード", "?do=download" %>）</td>
  </tr><tr>
    <th>サイズ</th>
    <td><%= number_format @item[:size] %> KB</td>
  </tr><tr>
    <th>ファイル種別</th>
    <td><%= @item[:mtime] %></td>
  </tr>
</table>

<% if 1 || @item[:mime_type] =~ /(text|javascript)/i %>
<p class="form">ファイル内容</p>
<table class="show">
  <tr>
    <td class="pre monospace"><% begin %><%= @item[:body]  %><% rescue %>読み込みに失敗しました。<% end %></td>
  </tr>
</table>
<% end %>
