<%= use_text_range_js %>

<p class="form">基本情報</p>

<table class="show">
  <%= piece_base_form f, :container => :tr %>
</table>

<table class="show" style="margin: 0px;">
  <tr>
    <th>本文</th></tr><tr>
    <td><%= f.text_area :body, :class => 'body' %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>ファイル</th>
    <td>
      <a href="#" onclick="return $(this).toggleOpen('#inlineFiles');">閉じる▲</a>
    </td>
  </tr>
</table>

<div class="inlineForm" id="inlineFiles">
  <iframe src="<%= cms_inline_data_files_path(:parent => 0) %>" style="width: 100%; height: 340px;" frameborder="0"></iframe>
</div>

<%= creator_form f %>
