<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ログイン</title>
<link href="/_common/themes/admin/login.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/_common/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<%= javascript_tag do %>
$(function () {
  $('[autofocus]').focus();
});
<% end %>

<div id="header"></div>

<%= form_tag do %>
  <p>v<%= Joruri.version %></p>
  <h1><img src="/_common/themes/admin/images/logo-joruri.gif" alt="Joruri CMS" /></h1>

  <div class="notice"><%=raw flash[:notice] %></div>

  <dl>
    <dt>ユーザーID</dt>
    <dd><%= text_field_tag 'account', '', :autofocus => "autofocus" %></dd>
    <dt>パスワード</dt>
    <dd><%= password_field_tag 'password', '' %></dd>
  </dl>

  <div class="submitters">
    <input type="image" src="/_common/themes/admin/images/bt-login.gif" alt="ログイン" />
  </div>

<% end %>

<div id="footer">Powered by Joruri</div>

</body>
</html>
