<%

map     = item.maps.find(:first)
markers = map ? map.markers : []

default_position = item.default_map_position.split(/[ ]*,[ ]*/)
map_lat  = (map && map.map_lat  != '') ? map.map_lat : default_position[0]
map_lng  = (map && map.map_lng  != '') ? map.map_lng : default_position[1]
map_zoom = (map && map.map_zoom != '') ? map.map_zoom : 14

in_size = safe(0){params[:item][:in_maps]['0'][:markers].size}
markers_size = [3, markers.size, in_size].max

%><script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&region=jp"></script>
<script type="text/javascript" src="/_common/modules/cms/js/map.js"></script>
<%= javascript_tag do %>

// init
$(function(){
  
  $('#mapToggle').click(function(){
    $(this).toggleOpen('#mapForm');
    if ($('#map1').html() == "") {
      loadGoogleMap();
    }
    return false;
  });
  
});

var me = null;

function addMakerForm() {
  var tr  = document.createElement('tr');
  //var mi  = $('#markerForm').getElementsByTagName("tr").length;
  var mi  = $('#markerForm tr').size();
  
  var e = document.createElement('th');
  e.className = "name";
  e.innerHTML = "名称";
  tr.appendChild(e);
  
  var e = document.createElement('td');
  e.className = "name";
  e.innerHTML = getMakerInputTag(mi, 'name');
  tr.appendChild(e);
  
  var e = document.createElement('th');
  e.className = "point";
  e.innerHTML = "座標";
  tr.appendChild(e);
  
  var e = document.createElement('td');
  e.className = "point";
  e.innerHTML = getMakerInputTag(mi, 'lat') + '.' + getMakerInputTag(mi, 'lng');
  tr.appendChild(e);
  
  var e = document.createElement('td');
  e.className = "action";
  e.innerHTML += '<a href="#" onclick="me.setMarker(\'item_in_maps_0_markers' + mi + '\'); return false;">≪クリックした座標を設定する</a>';
  e.innerHTML += ' <a href="#" onclick="me.unsetMarker(\'item_in_maps_0_markers'+ mi + '\'); return false;">≪クリア</a>';
  tr.appendChild(e);
  
  $('#markerFormTbody').append(tr);
  
  return false;
}

function getMakerInputTag(idx, name) {
  var uname = name.substring(0, 1).toUpperCase() + name.substring(1)
  var h  = '<input type="text"';
  h += ' id="item_in_maps_0_markers' + idx + uname + '"';
  h += ' name="item[in_maps][0][markers][' + idx + '][' + name + ']"';
  h += ' value="" />'
  return h;
}

function loadGoogleMap() {
  // map
  var mapOptions = {
    center: new google.maps.LatLng(<%= map_lat %>, <%= map_lng %>),
    zoom: <%= map_zoom %>,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scaleControl: true,
    scrollwheel: false
  };
  var map = new google.maps.Map(document.getElementById("map1"), mapOptions);
  
  me = new MapEditor(map);
  me.syncMap();
  google.maps.event.addListener(map, 'dragend', function(){ me.syncMap(); } );
  google.maps.event.addListener(map, 'zoom_changed', function(){ me.syncMap(); } );
  google.maps.event.addListener(map, 'click', function(event){ me.syncClick(event); } );
  
  // markers
  <% markers.each_with_index do |marker, idx| %>
    var marker<%= idx %> = new google.maps.Marker({
      //title: '<%= marker.name.gsub(/'/, "\\\\'") %>'
      position: new google.maps.LatLng(<%= marker.lat %>, <%= marker.lng %>),
      map: map
    });
    var infowindow<%= idx %> = new google.maps.InfoWindow({
      content: '<%= marker.name.gsub(/'/, "\\\\'").gsub(/\r\n|\r|\n/, "<br />") %>',
      disableAutoPan: false
    });
    google.maps.event.addListener(marker<%= idx %>, 'click', function() {
      infowindow<%= idx %>.open(map, marker<%= idx %>);
    });
    
    // registers to a editor
    me.markers['item_in_maps_0_markers<%= idx %>'] = marker<%= idx %>;
  <% end %>
}

<% end %>
<div id="hoge"></div>

<p class="form">地図</p>

<div style="margin: 10px;"><a id="mapToggle" href="#">開く▼</a></div>

<div id="mapForm" class="articleMapForm" style="display: none">

  <div id="map1" class="mapCanvas"></div>
  
  <input type="hidden" name="item[in_maps][0][name]" value="1" />
  
  <table class="show mapInfo">
    <caption>表示中のマップ情報</caption>
    <tr>
      <th style="width: 90px;">地名で検索</th>
      <td>
        <input id="searchAddr" name="searchAddr" type="text" value="" style="width: 150px"
         onkeydown="me.search('searchAddr', event);" />
        <button type="button" style="width: 60px" onclick="me.search('searchAddr'); return false;">検索</button> 
      </td>
    </tr><tr>
      <th style="width: 90px;">現在の座標</th>
      <td class="point">
        <input id="centerDispLat" name="centerDispLat" type="text" value="" readonly="readonly"
        />.<input id="centerDispLng" name="centerDispLng" type="text" value="" readonly="readonly" />
      </td>
    </tr><tr>
      <th style="width: 90px;">現在の縮尺</th>
      <td class="zoom"><input id="zoomDisp" name="zoomDisp" type="text" value="" readonly="readonly" /></td>
    </tr><tr>
      <th style="width: 90px;">クリック座標</th>
      <td class="point">
        <input id="clickDispLat" name="clickDispLat" type="text" value="" readonly="readonly"
        />.<input id="clickDispLng" name="clickDispLng" type="text" value="" readonly="readonly" />
      </td>
    </tr>
  </table>
    
  <table class="show mapForm">
    <caption>マップの設定</caption>
    <tr>
      <th style="width: 90px;">マップ名</th>
      <td class="name"><%= f.array_text_field "in_maps[0][title]" %></td>
    </tr><tr>
      <th style="width: 90px;">座標</th>
      <td class="point">
        <%= f.array_text_field "in_maps[0][map_lat]", :id => "item_in_maps_0_mapLat"
         %>.<%= f.array_text_field "in_maps[0][map_lng]", :id => "item_in_maps_0_mapLng" %></td>
    </tr><tr>
      <th style="width: 90px;">縮尺</th>
      <td class="zoom"><%= f.array_text_field "in_maps[0][map_zoom]", :id => "item_in_maps_0_mapZoom" %>&nbsp;
        <a href="#" onclick="me.setMapInfo('item_in_maps_0_map'); return false;">≪現在の座標と縮尺を設定する</a></td>
    </tr>
  </table>

  <table id="markerForm" class="show markerForm">
    <caption>マーカーの設定</caption>
    <tbody id="markerFormTbody">
    <% 0.upto(markers_size - 1) do |i| %>
    <tr>
      <th class="name">名称</th>
      <td class="name">
        <%= f.array_text_field "in_maps[0][markers][#{i}][name]", :id => "item_in_maps_0_markers#{i}Name", :wrap => 'off' %></td>
      <th class="point">座標</th>
      <td class="point">
        <%= f.array_text_field "in_maps[0][markers][#{i}][lat]", :id => "item_in_maps_0_markers#{i}Lat"
         %>.<%= f.array_text_field "in_maps[0][markers][#{i}][lng]", :id => "item_in_maps_0_markers#{i}Lng" %></td>
      <td class="action">
        <a href="#" onclick="me.setMarker('item_in_maps_0_markers<%= i %>'); return false;">≪クリックした座標を設定する</a>
        <a href="#" onclick="me.unsetMarker('item_in_maps_0_markers<%= i %>'); return false;">≪クリア</a></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  
  <div class="addMarkerForm">
    <a href="#" onclick="return addMakerForm();">入力フォームを追加する</a>
  </div>
  
</div>
