<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 60px; text-align: right;">ID</th>
    <th style="width: ;">名称</th>
  </tr>
  
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td><%= item.name %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
